package exercise

import (
	"io"
	"errors"
)

type day{{.Day}} struct{}

func init() {
	Register("day{{.Day}}", day{{.Day}}{})
}

func (d day{{.Day}}) Part1(stdin io.Reader, stdout io.Writer, stderr io.Writer) (any, error) {
    return nil, errors.New("Unimplemented")
}

func (d day{{.Day}}) Part2(stdin io.Reader, stdout io.Writer, stderr io.Writer) (any, error) {
    return nil, errors.New("Unimplemented")
}

