package exercise

import (
	"io"
	"errors"
	"log"
)

type day{{.Day}} struct{}

func init() {
	Register("day{{.Day}}", day{{.Day}}{})
}

func (d day{{.Day}}) Part1(input io.Reader, output *log.Logger) (any, error) {
    return nil, errors.New("Unimplemented")
}

func (d day{{.Day}}) Part2(input io.Reader, output *log.Logger) (any, error) {
    return nil, errors.New("Unimplemented")
}

